<style>
html{ 
  background-color: gray;
	font-family:"Comic Sans MS", cursive, sans-serif;
	color: gold;
  background-image:url("https://brewers-retail-cdn.scdn5.secure.raxcdn.com/shared-assets/images/products/051914full.jpg");
}
body{ 
	background-color:White;
	width:70%;
	margin:auto;
}
header, nav, main{ 
	text-align: left;
  background-image:url("https://brewers-retail-cdn.scdn5.secure.raxcdn.com/shared-assets/images/products/051914full.jpg");
  border: 10px ridge;
}
header p, main h2, main p{
  text-shadow: 2px 2px black;
}

article{ 
border: 10px ridge white;
text-align: left;
background-color:darkgray;
}
h1{
font-family:Impact, Charcoal, sans-serif;
	font-size:2cm;
	text-shadow: 6px 6px black;
}
h3{ 
	font-size: 1cm;
	color:navy;
}
h3{ 
	background-color: white;
}
ul{
	list-style-position:inside;
}
img{ 
	width:200px;
	height:200px;
}
article p{
	 text-decoration: underline;
}
footer{
	padding-bottom:2px;
  </style>
