html{
	
}
	h1{
	background-color:green;
	font-weight:bold;
	font-style:italic;	
	font-variant:small-caps;
	font-size: 40px;
	font-family:"Impact",sans-serif;
	color:yellow;
	border-bottom: 5px dashed yellow;
	}
	p{
	font-weight:normal;
	font-style:italic;	
	font-variant:normal;
	font-size: 20px;
	font-family:"Impact",sans-serif;
	color:blue;
	background-color:red;
	padding-top: 10px;
	margin-top: -28px;
	text-align: justify;
	width: 100%
	align:left;
	line-height: 1.8;
	border-bottom: 12px dashed yellow;
	}
